body{
  background: black;
  color: white;
  font-family: monospace;
  /* I HATE SCROLLBARS. */
  width: 99%;
  height: 100%;
  margin: 0 0 0 0;
}

span{
  line-height: 11px;
}

#term{
  width: 100%;
  height: 100%;
  padding: 8px 8px 8px 8px;
}

#input{
  position: absolute;
  top: -100px;
}

.blink{
  animation: blink 1s step-end infinite;
}

@keyframes blink{
  67%{
    opacity: 0;
  }
}
