body {
  font-family: monospace;
}

page-entry {
  padding-left: 3em;
}

page-link::before {
  content: "/";
}
page-link::after {
  content: "/";
}
page-link.external::before {
  content: "https://";
}

page-link.external::after {
  content: "/";
}
page-link.heroku::after {
  content: ".herokuapp.com/";
}

page-desc {
  padding-left: 3em;
  display: block;
}

::selection {
  color: white;
  background: black;
}
