bug-id::before {
  content: "SCRASH-";
  color: gray;
}
bug-id::after {
  content: ": ";
  color: gray;
}
bug-id a {
  text-decoration: none;
}

bug-ul {
  display: block;
  padding-left: 3em;
  font-weight: bold;
}
bug-ul ul {
  font-weight: normal;
}

bug-details {
  display: block;
  padding-left: 3em;
  padding-bottom: 1em;
}

bug-status::before {
  content: "(";
}
bug-status::after {
  content: ")";
}

.fixed {
  text-decoration: line-through;
}

bug-report {
  display: block;
  padding-left: 3em;

  transition: background-color 0.5s linear;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 3em;
}
