/* #region Basic Element and Class Styles */

canvas {
  display: block;
}

img {
  image-rendering: pixelated;
}

td {
  vertical-align: top;
}

.position-absolute-bottom {
  position: absolute;
  bottom: 0;
}

/* #endregion */

/* #region Core Styles */

#canvas {
  position: relative;
  flex-shrink: 0;
  width: 480px;
  height: 360px;
  padding-right: 10px;
}

#container {
  display: flex/*tape*/;
  flex-direction: row;
}

.flex-item {
  padding-right: 10px;
}

/* #endregion */

/* #region Progress Bar */

.progress-bar {
  box-sizing: border-box;
  border: 1px solid black;
}
.progress-bar-inside {
  background-color: #7baaf7;
  height: 100%;
  width: 0;
}

#loading-screen-progress-bar {
  height: 12px;
  width: 480px;
  position: absolute;
  bottom: 0;
}

/* #endregion */

/* #region Menu */

.menu {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#menu-container {
  width: 100%;
  height: 100%;
}

#menu-background {
  position: absolute;
  z-index: -1;
  filter: brightness(50%);
}

#menu-background.active {
  animation-duration: 1s;
  animation-name: background-opacity-increase;
  filter: brightness(100%);
}

#menu-screen {
  display: none;
}

@keyframes background-opacity-increase {
  from {
    filter: brightness(50%);
  }

  to {
    filter: brightness(100%);
  }
}

/* #endregion */

/* #region Level Editor */

.level-editor-ui {
  display: none;
  position: relative;
}

#level-editor-active-block-image-container {
  /* TODO: lock the size of the thing at 96px or whatever */
}

/* #region Block Gallery */

#level-editor-block-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: calc(18px * 4);
  width: calc(18px * 22);
}

#level-editor-block-gallery .level-editor-gallery-item {
  width: 16px;
  height: 16px;
  padding: 1px;
}

/* #endregion */

/* #endregion */
